@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue.eot');
    src: local('Bebas Neue'), local('BebasNeue'),
        url('BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue.woff2') format('woff2'),
        url('BebasNeue.woff') format('woff'),
        url('BebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  
}

.header{
    z-index: 10;
}

.menu{
    padding-top: 26px;
    margin-left: 56px;
    margin-right: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: auto;
    position:relative;
}

.menu-logo{
    position: relative;
    margin-right: auto;
}

.menu-logo img{
    fill:#e50914 ;
    line-height: normal;
}

.menu-langueges{
    position: relative;
    margin-right: 2rem;
    color: #333;
    z-index: 10;
}
.menu-langueges select{
background: rgba(0, 0, 0, .4);
border: 1px solid #aaa;
color: #fff;
font-size:.875rem ;
padding: .5rem .75rem;
border-radius: 5px;
}

.menu-btn{
    margin-top: 0;

}

.menu-btn button{
    white-space: nowrap;
    float: none;
    margin-top: 0;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 0.85rem;
    background-color: #E50914;
    line-height: normal;
    border-radius: 2px;
    border: 0;
}

.menu-btn a{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
}


.hero{
    position: relative;
    bottom: 100px;
    max-height: 739px;
}

.hero-img{
    width: 100%;
    height: 100%;

}

.hero-img img{
position: relative;
z-index: -1;
width: 100%;
height: 100%;
bottom: -10px;
object-fit: cover;

}

.hero-background{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 99%;
    background-color: rgba(0, 0, 0, .4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    z-index: -1;
}

.hero-content{
    position: relative;
    bottom: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.hero-text{

}
.hero-text h1{
    margin: auto;
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

.hero-text h2{
    margin: auto;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.hero-mail label{
    position: relative;
    margin:  0 auto;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}

.hero-mail input{
    position: relative;
    width: 63%;
    height: 70px;
    left: 73px;
    bottom: 8px;

} 

.hero-mail input::placeholder{
    padding-left: 5px;
    font-size: 16px;
}


.hero-button{
position: relative;
top: 20%;
}

.hero-mail button{
    background-color: #e50914;
    padding: 24px 44px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1px;
    left: 66px;
    bottom: 7px;
}



.content-1{
    padding: 50px;
    position: relative;
    border-bottom: 8px solid #333;
    background: 0 0;
    color: #fff;
    position: relative;
    bottom: 79px;
    border-top: 8px solid #333;
}
.content-2,
.content-3,
.content-4,
.content-5{
    padding: 50px;
    position: relative;
    border-bottom: 8px solid #333;
    background: 0 0;
    color: #fff;
    position: relative;
    bottom: 79px;
}




.content-format{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.content-format-text{
    width: 52%;
    height: 100%;
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
}


.content-format-text h1{
    margin: 0 0 0.4em;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.content-format-text h3{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.content-format-text h1 ,
.content-format-text h3{
color: #fff;
}

.content-format-img{
    position: relative;
    z-index: 2;
    width: 48%;
    height: 100%;
    display: flex;
    flex: 0 1 auto;
    box-sizing: border-box;
}



.content-format-img img{
    max-width: 100%;
    height: auto;
    border: 0;
}





.content-format-img video{
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}


.content-format-img2{
    width: 48%;
    height: 100%;
    display: flex;
    flex: 0 1 auto;
    box-sizing: border-box;
}

.content-format-img2 img{ 
    max-width: 100%;
   height: auto;
   border: 0;
}

.content-format-img2-1{
    position: absolute;
    left: 31.5%;
    bottom: 16%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    display: flex;
    align-items: center;
    width: 22%;
    height: 18%;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border: 2px solid rgba(255,255,255,.25);
    box-shadow: 0 0 2em 0 #000;
    border-radius: 10px;
}

.content-format-img2-1-div{
    margin: 0 1em 0 0;
    flex-shrink: 0;
}

.content-format-img2-1-div img{
height: 5rem;
max-width: 100%;
border: 0;
position: relative;
top: 2px;
}


.content-format-img-div-text h4{
    margin: 0;
}

.content-format-img-div-text p{
    color: #0071eb;
    margin: 0;
}


.content-format-text-inverted{
    width: 52%;
    height: 100%;
    flex: 0 1 auto;
    padding: 0 0 0 3rem;
}

.content-format-text-inverted h1{
    margin: 0 0 0.4em;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.content-format-text-inverted h3{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.content-format-text-inverted h1 ,
.content-format-text-inverted h3{
color: #fff;
}


#video-add{
    width: 100%;
    height: 49%;
    max-width: 70%;
    max-height: 54%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}





.content-format-ask{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.content-format-ask-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}


.content-format-ask-list{
    max-width: 100%;
    width: 100%;
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-format-ask-h1{
    position: relative;
    display: flex;
    justify-content: center;
    left: 15px;
}

.content-format-ask-h1 h1{
    padding-top: 20px;
    margin: 0 0 0.4em;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}


.content-format-ask-list li{
    list-style: none;
    margin: 0 0 8px;
    font-size:  1.625rem;

}


.content-format-ask-list button{
    color: #fff;
    display: block;
    text-align: left;
    background: #303030;
    padding: 0.8em 2.2em 0.8em 1.2em;
    margin-bottom: 1px;
    font-weight: 400;
    position: relative;
    width: 804px;
    text-align: left;
    border: 0;
    height: 74px;
    font-size: 27px;
}



.foot-content{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
flex-direction: row;
align-content: center;
}

.foot-content-mail{
    position: relative;
    display: block;
}

.foot-content-inp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot-content-mail label{
    position: relative;
    margin:  0 auto;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}

.foot-content-mail input{
    position: relative;
    width: 60.5%;
    height: 70px;
    bottom: 8px;

} 

.foot-content-mail input::placeholder{
    padding-left: 5px;
    font-size: 16px;
}


.hero-button-foot{
   position: relative;
   top: 20%;
}

.foot-content-inp button{
    position: relative;
    background-color: #e50914;
    padding: 24px 44px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1px;
    bottom: 7px;
}





.footer{
max-width: 1000px;
    margin: 0 auto;
}

.footer-content{
    min-width: 190px;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
}

.footer-content-list{
width: 90%;
margin:  0 auto;
padding-top: 0;
}

.footer-content-list p{
    padding: 0;
    margin: 0 0 30px;
}
.footer-content-list ul{
    padding: 0;
    margin: 0;
    max-width: 1000px;
    font-size: 13px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-content-list li{
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 25%;
    padding-right: 12px;
    vertical-align: top;
}
.footer-content-list li:last-child{
    flex: 4;
}


.footer-content-list a{
text-decoration: none;
color: #757575;
font-size: 13px;
}

.footer-content-list a:hover{

}

.footer-netflix{
    display: block;
}

.footer-netflix p{
    position: relative;
    font-size: 13px;
    color: #757575;
    left: 325px;
    height: 24px;
    width: 92px;
    margin-bottom: 10px;
}





.modify-langueges{
    left: 42px;
    bottom: 5px;
}



.p1,
.p2,
.p3,
.p4,
.p5,
.p6{
    display:none;
}

.p1.active,
.p2.active,
.p3.active,
.p4.active,
.p5.active,
.p6.active{
    display: block;
}

.active{
    display: inline-block;
}


*,
*:before,
*:after
{
 -webkit-box-sizing: border-box;
 -moz-box-sizing:border-box ;
   box-sizing:border-box ;

}