*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    overflow-x: hidden;
    
}

main {
    
    width: 80%;
}

button:hover {
    cursor: pointer;
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    width: 100%;
    background-color: black
    
}

.header-container{
    display: flex;
    width: 85%;
    justify-content: space-between;
}


.nav-left{
    flex: 50% 1;
    display: flex;
    align-items: center;
    padding-left: 10vw;
}

.nav-left > a:nth-child(2){
    margin-left: 13px;
}

.nav-right{
    flex: 50% 1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10vw;
}

.nav-left > .centro-assistenza{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding-left: 10px;
}

.nav-left >.centro-assistenza:hover{
    text-decoration: underline;
}


.nav-right > .abbonati{
    margin-right:13px;
    padding: 8px;
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 3px;
}

.abbonati:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.nav-right > .accedi{
    padding: 8px 16px;
    background-color: red;
    color:white;
    border: 1px solid black;
    border-radius: 3px;
}

.accedi:hover{
    cursor:pointer;
    background-color:rgba(255, 0, 0, 0.842);
}

.separation {
    margin-left: 20px;
    margin-right: 10px;
    width: 1px;
    height: 24px;
    background-color: white;
    
}
/* MAIN */

main{
    margin-left: 10vw;
    margin-right: 10vw;
}

.back{
    padding: 40px 0px 40px 0;
}

.back > a{
    color: red;
    text-decoration: none;
}

.back > a:hover{
    text-decoration: underline;
}

section > .firstitle{
    padding-bottom:40px;
    font-size: 38px;
}

.firstimage{
    width: 825.6px;
    height: 462.15px;
}
    
.firstimage > img{
    width: 100%;
    height: 100%;
}

.flex-container{
    display: flex;
}

.utility{
    margin-left: 85px;
    font-size: 1.1em;
    
}

ul {
    margin-left: 32px;
    margin-top: 32px;
}

.articoli-suggeriti>li{
    margin: 15px 0 15px 0;
}

.articoli-suggeriti>li a{
    color: black;
    text-decoration: none;
}

 .articoli-suggeriti a:hover{
    color: red;
    text-decoration: underline;
}


.firstinfo{
    width: 825.6px;
}

.firstinfo > p{
    width: 100%;
}

/* FIRST DESCRIPTION AFTER FLEX-BOX */

.first-description{
    margin: 20px 0px 30px 0;
    font-size: 1.2em;
}

.first-description > a{
    color: red;
    text-decoration: none;
}

.first-description > a:hover{
    text-decoration: underline;
}

/* SECOND TITLE */

.secondtitle > h2{
    margin-top:40px;
    margin-bottom:40px;
}

.secondimage{
    width: 825.6px;
    height: 462.15px;
}
    
.secondimage > img{
    width: 100%;
    height: 100%;
}

.secondinfo{
    width:825.6px;
}

.second-description{
    margin: 20px 0px 30px 0;
    font-size: 1.2em;
}

.second-description  a{
    color: red;
    text-decoration: none;
}

.second-description  a:hover{
    text-decoration: underline;
}

/* THIRD TITLE */

.thirdtitle > h2{
    margin-top:40px;
    margin-bottom:40px;
}

.thirdimage{
    width: 825.6px;
    height: 462.15px;
}
    
.thirdimage > img{
    width: 100%;
    height: 100%;
}

.thirdinfo{
    width:825.6px;
}

.third-description{
    margin: 20px 0px 30px 0;
    font-size: 1.2em;
}

.third-description  a{
    color: red;
    text-decoration: none;
}

.third-description  a:hover{
    text-decoration: underline;
}

.nota-container{
    width:825.6px;
    height: 40px;
    display:flex;
    margin-bottom:45px;
}

.nota-grey{
    width:5px;
    height: 100%;
    background-color: lightgrey;
}

.nota-container p{
    width:825.6px;
    margin-left:17px;
    height: 100%;
}

/* FOURTH TITLE */

.fourthtitle > h2{
    margin-top:40px;
    margin-bottom:40px;
}

.fourthimage{
    width: 825.6px;
    height: 462.15px;
}
    
.fourthimage > img{
    width: 100%;
    height: 100%;
}

.fourthinfo{
    width:825.6px;
}

.fourth-description{
    margin: 20px 0px 30px 0;
    font-size: 1.2em;
}

.fourth-description  a{
    color: red;
    text-decoration: none;
}

.fourth-description  a:hover{
    text-decoration: underline;
}

/* FIFTH TITLE */

.fifthtitle > h2{
    margin-top:40px;
    margin-bottom:40px;
}

.fifthimage{
    width: 825.6px;
    height: 462.15px;
}
    
.fifthimage > img{
    width: 100%;
    height: 100%;
}

.fifthinfo{
    width:825.6px;
}

.fifthinfo p:first-child, .piano-abbonamento, .fifthinfo p:last-child{
    margin: 20px 0px 30px 0;
    font-size: 1.2em;
}


.piano-abbonamento > li a{
    color: red;
    text-decoration: none;
}

.piano-abbonamento > li a:hover{
    text-decoration: underline;
}

.piano-abbonamento li{
    margin: 15px 0 15px 0;
}

/* FEEDBACK */

.feedback{
    width:825.6px;
    height: 100px;
    position: relative;
}

.feedback > .feedback-vote{
    position: absolute;
    top:50%;
    left:0px;
}

.feedback-vote{
    font-size: 1.2em;
}

.feedback-yes, .feedback-no{
    padding: 8px 40px;
    background-color: white;
    color: rgba(255, 0, 0, 0.842);;
    height: 45px;
    margin-left:13px;
    border-radius: 3px;
    border: 1px solid red;
}

.feedback-yes:hover, .feedback-no:hover{
    color:white;
    background-color: red;
}

/* FOOTER */

.footer-first{
    display: flex;
    width:100vw;
    height: 100px;
    background-color:rgb(234, 234, 230); ;
    margin-top: 40px;
    border-top: 1px solid #d5d4d1;
    
}

.footer-second{
    display: flex;
    width:100vw;
    height: 250px;
    background-color: rgb(34, 31, 31);;
}

/* .footer-up{
    display: flex;
    background-color: rgb(234, 234, 230);
    height: 33.333333%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 32px;
}

*/
.footer-down{
    background-color: rgb(34, 31, 31);
    height: 67%;
}

.footer-left {
    
    flex-grow: 1;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 32px;
}

.footer-right {
    margin-left: 40vw;
    margin-top: 20px;
    flex-grow: 1;
    
    
}

.contact-us {
    padding: 16px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
}

.chat {
    font-weight: bold;
    padding: 16px;
    margin-left: 16px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
}


.contact-us:hover {
    background-color: rgb(240, 240, 240);
}

.chat:hover {
    background-color: rgb(240, 240, 240);
}



.footer-select{
    background-color: rgb(34, 31, 31);
    margin-left: 10vw;
    flex: 50% 1;
    display:flex;
    align-items: center;
}

#language{
    padding: 13px 45px 13px 16px;
    color: #8b8a88;
    cursor:pointer;
    font-weight: bold;
    background-color: rgb(34, 31, 31);
    border-radius: 2px;
}

#language:hover{
    color:white;
    background-color: grey;
}    

 
.footer-nav{
    background-color: rgb(34, 31, 31);
    margin-right: 10vw;
    flex: 50% 1;
    display:flex;
    align-items: center;
    justify-content: end;
}

.footer-nav a{
    margin: 10px;
    color: #8b8a88;
    text-decoration: none;
}

.footer-nav nav>a:hover{
    text-decoration: underline;
    color: #bbbaba;
}    

.piano-abbonamento {
    margin-left: 24px;
}