* { 
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 16px;
    font-family: "Netflix", Gotham, Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    background: rgb(245, 245, 241)
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1{
    align-self: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    width: 1200px;
    height: 339px;
    background-color: white;
    box-shadow: 0 30px 20px -20px rgba(0,0,0,0.2);
}

.container1 > div {
    width: 100%;
    z-index: 1;
    padding: 4rem;
    box-shadow: 20px 0 10px -3px rgba(0,0,0,0.2);
}

.container1 > div > h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.32;
    margin-bottom: 1.25rem;
}

.container1 > div > p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 1.25rem;
}

.container1 > picture > img {
    height: 339px;
    width: 480px;
    object-fit: cover;
    border-left: 25px solid rgb(229,10,19);
}

.btn-red {
    cursor: pointer;
    color: white;
    background-color: rgb(229,10,19);
    text-transform: uppercase;
    text-align: left;
    line-height: 1.32;
    font-weight: bolder;
    font-size: 0.81rem;
    padding-left: 1.13rem;
    padding-right: 1.13rem;
    padding-top: 0.63rem;
    padding-bottom: 0.63rem;
    margin-bottom: 16px;
    margin-top: 16px;
}

.btn-red:hover > svg {
    translate: 4px;
    transition-duration: 0.3s;
}

.container3 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.container3 > h3 {
    align-self: center;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 24px;
}

.container3 > div{
    display: flex;
}

.box {
    position: relative;
    width: 320px;
    height: 324px;
    background-color: #696868;
    border: 1px solid white;
    overflow:hidden;
    cursor: pointer;
}

.box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:hover > img {
    transform: scale(1.2);
    transition-duration: 8s;
}

.btn-play {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    align-self: center;
    background: linear-gradient(360deg, rgba(0,0,0,1), rgba(255,0,0,0))
}

.box-text {
    position: absolute;
    top: 0;
    color: white;
    padding: 2.13rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

footer {
    background-color: white;
    padding: 1.69rem;
    display: flex;
    justify-content: center;
}

.logo-footer {
    align-self: flex-end;
    height: 38px;
    width: 140px;
}

footer > section {
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social {
    padding-top: 0px;
    padding-bottom: 16px;
    display:flex;
    align-items: center;
}

footer > section > div > h5 {
    font-weight: 700;
}

h5 > span {
    color: #e50914;
    margin-right: 15px;
    font-weight: 700;
}

.social > a > svg {
    margin-left: 5px;
    margin-right: 5px;
}

.footer-list {
    list-style: none;
}

.footer-list > li {
    display: inline;
    padding-left: 1.5rem;
}

.footer-list > li > a {
    text-decoration: none;
    color: #696868;
    font-size: 0.75rem;
}

.footer-list > li:first-of-type > a {
    color: #221f1f;
    font-weight: bold;
}